@{
    ViewData["Title"] = "Home Page";
    var options = ViewBag?.EmailOptions;

    Uri addSite = new Uri(@"https://i.stack.imgur.com/wsz3a.jpg");

}

@section MetaTags
{
    <meta property="og:type" content="books.book">
    <open-graph-website site-name="My Website - MVC"
                        title="@ViewData["Title"]"
                        main-image="@(new OpenGraphImage(addSite))"
                        determiner="Blank"/>

}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @Model

    @if (options != null)
    {
        <p>@System.Text.Json.JsonSerializer.Serialize(options)</p>
    }

</div>
